{#
# pyproject.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import '.cookiecutter_includes/pyproject/build-system/__init__.j2' as build_system with context %}
{% import '.cookiecutter_includes/pyproject/project/__init__.j2' as project with context %}
{% import '.cookiecutter_includes/pyproject/tool/__init__.j2' as tool with context %}


{%- macro create(
    project_name,
    version,
    description,
    author,
    email,
    license,
    copyright,
    python_version,
    github_io_url,
    repo_url,
    python_config
) -%}
    {#
        Generates pyproject configuration file. TODO:

        This macro maps python tool configuration strings to their corresponding full
        text stored in a template TODO: data object.

        Args:
            project_name (str): Project name.
            version (str): Project version.
            description (str): Project description.
            author (str): Project author.
            email (str): Project author email.
            license (str): Project SPDX license identifier.
            copyright (str): Project SPDX file copyright text.
            python_version (str): Project python version.
            github_io_url (str): Project name.
            repo_url (str): Project version.
            python_config (): .

        Returns:
            str: pyproject configuration file.
    #}
    {% import '.cookiecutter_includes/license/__init__.j2' as license_macros with context %}
    {{- license_macros.license_header.create(
            license=license,
            copyright=copyright,
            project_name=project_name,
            file_name='pyproject.toml',
            comment_style='hash') }}

    {{- build_system.config.create() }}

    {{- project.config.create(
            project_name,
            version,
            description,
            author,
            email,
            license,
            python_version,
            github_io_url,
            repo_url
    ) }}

    {{- tool.config.create(
        config=python_config
    ) }}
{%- endmacro -%}
