{#
# pyproject/build-system/config.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


{% import '.cookiecutter_includes/pyproject/build-system/setuptools.j2' as setuptools with context %}


{% macro template(
    package,
    version,
    requires,
    backend
) %}
# ====================================
# Build Configuration:
# ====================================
[build-system]
requires = ["{{ package }}>={{ version }}", "{{ requires }}"]
build-backend = "{{ backend }}"
{% endmacro %}


{% macro create() %}
    {#
        Generates pyproject build-system configuration based on

        This macro maps python build-system configuration strings to their corresponding
        variables stored under tool name within build-system directory.

        Args:
            TODO: Should take the python configuration string eventually. (str): .

        Returns:
            str: The build-system section for a pyproject configuration file.
    #}
    {# TODO: Hatchling, Poetry-core, Flit-core, and PDM-backend are potential future build options that could be added. #}
    {{- template(
            package=setuptools.package,
            version=setuptools.version,
            requires=setuptools.requires,
            backend=setuptools.backend)
    }}
{% endmacro %}
