{#
# makefile/envs/ansible/__init__.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- import '.cookiecutter_includes/registry/utils.j2' as utils with context -%}
{%- import '.cookiecutter_includes/registry/envs/ansible/ansible-galaxy.j2' as _ansible_galaxy with context -%}
{%- import '.cookiecutter_includes/registry/envs/ansible/ansible-lint.j2' as _ansible_lint with context -%}
{%- import '.cookiecutter_includes/registry/envs/ansible/molecule.j2' as _molecule with context -%}

{%- macro get_active_tools(ns) -%}
    {#
        Registers active Ansible tools into the global namespace.

        Args:
            ns (namespace): Global project namespace.
    #}

    {# Create live dictionary buckets #}
    {%- set ansible_galaxy = {} -%}
    {%- set ansible_lint = {} -%}
    {%- set molecule = {} -%}

    {%- do _ansible_galaxy.get_config(ns.pkg_groups, ns.settings, ansible_galaxy) %}
    {%- do _ansible_lint.get_config(ns.pkg_groups, ns.settings, ansible_lint) %}
    {%- do _molecule.get_config(ns.pkg_groups, ns.settings, molecule) %}

    {%- set tools_to_check = [
        ansible_galaxy,
        ansible_lint,
        molecule
    ] -%}

    {%- for tool_cfg in tools_to_check -%}
        {%- if tool_cfg is mapping -%}
            {%- set feature_id = tool_cfg.id | upper | replace("-", "_") -%}
            {%- set is_enabled = ns.features.envs.ansible.get(feature_id) | default(false) %}

            {%- if is_enabled -%}
                {{- utils.register_tool(ns, tool_cfg) -}}
            {%- endif -%}
        {% endif %}
    {%- endfor -%}
{% endmacro %}
