{#
# makefile/envs/docker/_vars.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


{% set docker_dev_stack = [
    {
        "id": "docker-build",
        "name": "Docker Build",
        "icon": "🏗️",
        "group": "build",
        "command": "docker build",
        "args": "-t $(GITHUB_REPO):$(VERSION) .",
        "description": "Build the container image using the Dockerfile."
    },
    {
        "id": "docker-run",
        "name": "Docker Run",
        "icon": "🚀",
        "group": "test",
        "command": "docker run",
        "args": "--rm -it $(GITHUB_REPO):$(VERSION)",
        "description": "Run the container locally for testing."
    },
    {
        "id": "hadolint",
        "name": "Hadolint",
        "icon": "🛡️",
        "group": "lint",
        "command": "docker run --rm -i hadolint/hadolint < Dockerfile",
        "args": "",
        "description": "Lint the Dockerfile to ensure best practices."
    },
    {
        "id": "docker-scan",
        "name": "Docker Scan",
        "icon": "🔍",
        "group": "security",
        "command": "docker scan",
        "args": "$(GITHUB_REPO):$(VERSION)",
        "description": "Scan the image for vulnerabilities."
    },
    {
        "id": "docker-push",
        "name": "Docker Push",
        "icon": "🚢",
        "group": "publish",
        "command": "docker push",
        "args": "$(GITHUB_REPO):$(VERSION)",
        "description": "Push the image to the configured registry."
    },
    {
        "id": "docker-prune",
        "name": "Docker Prune",
        "icon": "🧹",
        "group": "vcs",
        "command": "docker system prune",
        "args": "-f",
        "description": "Remove unused data to save disk space."
    }
] %}

{#
publish-all: ## 🚀 Publish everything
	$(MAKE) python-publish
	$(MAKE) docker-push
#}

{#
{% if cookiecutter.add_docker %}
    {% set active_tools = active_tools + docker.docker_dev_stack %}
{% endif %}
#}
