{% import '.cookiecutter_includes/make/clean.j2' as _clean with context %}
{% import '.cookiecutter_includes/make/docs.j2' as _docs with context %}
{% import '.cookiecutter_includes/make/help.j2' as _help with context %}
{% import '.cookiecutter_includes/make/phony.j2' as _phony with context %}
{% import '.cookiecutter_includes/make/settings.j2' as _settings with context %}
{% import '.cookiecutter_includes/make/version.j2' as _version with context %}

{% set clean = _clean %}
{% set docs = _docs %}
{% set help = _help %}
{% set phony = _phony %}
{% set settings = _settings %}
{% set version = _version %}
