{#
# registry/_config.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- from '.cookiecutter_includes/registry/_vars.j2' import ns with context -%}
{# EXPLICIT EXPORT: This makes ns available to debug.j2 and others #}
{%- set ns = ns -%}


{%- import '.cookiecutter_includes/registry/settings.j2' as settings_data with context -%}
{# {%- import '.cookiecutter_includes/registry/features.j2' as features with context -%} #}
{%- import '.cookiecutter_includes/registry/features.j2' as build_data with context -%}
{%- import '.cookiecutter_includes/registry/groups.j2' as pkg_groups_data with context -%}


{%- do ns.active_sections.build.update(build_data.features) -%}
{%- do ns.settings.update(settings_data.settings) -%}
{%- do ns.pkg_groups.update(pkg_groups_data.pkg_groups) %}

{# --- LANGUAGE BOOTLOADERS --- #}
{# This pulls in Python/TS/VCS features into ns.features #}
{# {%- import '.cookiecutter_includes/registry/engines/gcc/_config.j2' as gcc_data with context -%} #}
{%- import '.cookiecutter_includes/registry/engines/python/_config.j2' as py_data with context -%}
{%- import '.cookiecutter_includes/registry/engines/ruby/_config.j2' as ruby_data with context -%}
{%- import '.cookiecutter_includes/registry/engines/rust/_config.j2' as rust_data with context -%}
{%- import '.cookiecutter_includes/registry/engines/typescript/_config.j2' as ts_data with context -%}
{# --- ENVIRONMENT BOOTLOADERS --- #}
{%- import '.cookiecutter_includes/registry/envs/ansible/_config.j2' as ansible_data with context -%}
{%- import '.cookiecutter_includes/registry/envs/docker/_config.j2' as docker_data with context -%}
{%- import '.cookiecutter_includes/registry/envs/ros2/_config.j2' as ros2_data with context -%}

{# --- TOOLS BOOTLOADERS --- #}
{%- import '.cookiecutter_includes/registry/tools/vcs/_config.j2' as vcs_data with context -%}

{# 2. Join Settings into the Namespace #}
{%- do ns.settings.update(py_data.settings) -%}
{%- do ns.settings.update(ruby_data.settings) -%}
{# {%- do ns.settings.update(rust_data.settings) -%} #}
{# {%- do ns.settings.update(ts_data.settings) -%} #}

{# 3. Join Features into the Namespace #}
{# {%- do ns.features.gcc.update(gcc_data.features) -%} #}
{%- do ns.features.engines.python.update(py_data.features) -%}
{%- do ns.features.engines.ruby.update(ruby_data.features) -%}
{%- do ns.features.engines.rust.update(rust_data.features) -%}
{%- do ns.features.engines.typescript.update(ts_data.features) -%}

{%- do ns.features.envs.ansible.update(ansible_data.features) -%}
{%- do ns.features.envs.docker.update(docker_data.features) -%}
{%- do ns.features.envs.ros2.update(ros2_data.features) -%}

{%- do ns.features.tools.vcs.update(vcs_data.features) -%}

{# --- LANGUAGE PARTS --- #}
{# {%- import '.cookiecutter_includes/registry/engines/gcc/__init__.j2' as gcc with context -%} #}
{%- import '.cookiecutter_includes/registry/engines/python/__init__.j2' as python with context -%}
{%- import '.cookiecutter_includes/registry/engines/ruby/__init__.j2' as ruby with context -%}
{%- import '.cookiecutter_includes/registry/engines/rust/__init__.j2' as rust with context -%}
{%- import '.cookiecutter_includes/registry/engines/typescript/__init__.j2' as typescript with context -%}

{# --- ENVIRONMENT PARTS --- #}
{%- import '.cookiecutter_includes/registry/envs/ansible/__init__.j2' as ansible with context -%}
{%- import '.cookiecutter_includes/registry/envs/docker/__init__.j2' as docker with context -%}
{%- import '.cookiecutter_includes/registry/envs/ros2/__init__.j2' as ros2 with context -%}

{# --- TOOLS PARTS --- #}
{%- import '.cookiecutter_includes/registry/tools/vcs/__init__.j2' as vcs with context -%}

{# --- LANGUAGE TRIGGER --- #}
{# {%- set _ = gcc.get_active_tools(ns) %} #}
{%- set _ = python.get_active_tools(ns) -%}
{%- set _ = ruby.get_active_tools(ns) -%}
{%- set _ = rust.get_active_tools(ns) -%}
{%- set _ = typescript.get_active_tools(ns) -%}

{# --- ENVIRONMENT TRIGGER --- #}
{%- set _ = ansible.get_active_tools(ns) -%}
{%- set _ = docker.get_active_tools(ns) -%}
{%- set _ = ros2.get_active_tools(ns) -%}
{# --- TOOLS TRIGGER --- #}
{%- set _ = vcs.get_active_tools(ns) -%}

{# Dynamically add optional paths based on user choices #}
{%- if cookiecutter.add_sphinx_docs -%}
    {%- do ns.settings.dirs.update({"sphinx": {"val": "$(DOCS_DIR)/sphinx", "label": "SPHINX_DIR" }}) -%}
{%- endif -%}
{%- if cookiecutter.add_github_docs -%}
    {%- do ns.settings.dirs.update({"jekyll": {"val": "$(DOCS_DIR)/jekyll", "label": "JEKYLL_DIR" }}) -%}
    {%- do ns.settings.dirs.update({"readme_generation": {"val": "$(JEKYLL_DIR)/tmp_readme", "label": "README_GEN_DIR" }}) -%}
{%- endif -%}
{%- if cookiecutter.add_community_health_files -%}
    {%- do ns.settings.dirs.update({"health": {"val": "$(PROJECT_ROOT)/.github", "label": "HEALTH_DIR" }}) -%}
{%- endif -%}

{# Only should happen when cookiecutter-cookiecutter generates a template. Not in projects generated from those projects. #}
{# For example cookiecutter-cookiecutter generates python3-cookiecutter which generates python3 projects. #}
{# TODO: This is an error!!!!! #}
{%- do ns.settings.dirs.update({"hooks": {"val": "$(PROJECT_ROOT)/hooks", "label": "HOOKS_DIR" },}) -%}


{%- do ns.features.sub.update({
    "SPHINX": cookiecutter.add_sphinx_docs,
    "JEKYLL": cookiecutter.add_github_docs,
    "HEALTH": cookiecutter.add_community_health_files
}) -%}
