{#
# registry/features.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{%- set features = {
    "lang": {
        "ANSIBLE":    cookiecutter.add_ansible | default(false),
        "DOCKER":     cookiecutter.add_docker | default(false),
        "GCC":        cookiecutter.add_gcc | default(false),
        "ROS2":       cookiecutter.add_ros2 | default(false),
        "RUST":       cookiecutter.add_rust | default(false),
        "TYPESCRIPT": cookiecutter.add_typescript | default(false),
    },
    "tools": {
        "GITHUB":     cookiecutter.add_github_actions | default(false),
    },
    "core": {
        "BUILT_IN":   true,
        "CHANGELOGS": true,
        "DEPS":       true,
        "PRE_COMMIT": cookiecutter.add_pre_commit | default(false),
        "RELEASE":    true,
        "TEMPLATE":   true,
        "UPGRADER":   cookiecutter.add_upgrader | default(false),
        "VERSIONING": true,
    },
    "pipeline": {
        "FORMAT":     true,
        "LINT":       true,
        "TESTING":    true,
        "TYPING":     true,
        "SECURITY":   true,
        "SPELLING":   true,
    },
} -%}
