{%- macro gitignore(
    template_type
) -%}

{%- set ansible = """
# =========================================
# Ansible Galaxy Ignores #
# =========================================
ansible.cfg
hosts
inventory.yml
**/vault.yml
/group_vars
/host_vars
"""
%}

{%- set python = """
# =========================================
# Python project ignores #
# =========================================
__pycache__/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
dist/
"""
%}

{%- set ansible_cookiecutter = python ~ ansible %}

{% if template_type == "ansible" -%}
{{ ansible_cookiecutter }}
{%- elif template_type in ["c", "c++"] -%}
# =========================================
# C/C++ Ignores #
# =========================================
*.o
*.a
*.out
{%- elif template_type in ["cookiecutter", "github-docs", "python", "sphinx-docs"] -%}
{{ python }}
{%- elif template_type == "ros2" -%}
# =========================================
# ROS2 Ignores #
# =========================================
install/
build/
log/
{%- elif template_type == "typescript" -%}
# =========================================
# Typescript Ignores #
# =========================================
node_modules/
dist/
*.tsbuildinfo
{% endif -%}
{%- endmacro -%}
