{#
# registry/lang/python/bump-my-version.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


{% set config = {
    "id": "bumpversion",
    "name": "Bump-My-Version",
    "icon": "🔖",
    "group": "version",
    "command": "$(ACTIVATE) && bump-my-version bump --verbose",
    "start_msg": "Updating $(PROJECT_NAME) version from $(VERSION)...",
    "end_msg": "$(PROJECT_NAME) version update complete!",
    "modes": {
        "patch": "$(PATCH)",
        "minor": "$(MINOR)",
        "major": "$(MAJOR)"
    }
} %}

{% macro helpers() %}
# Patch types:
MAJOR := major
MINOR := minor
PATCH := patch
{% endmacro %}


{# #TODO: Deprecated beyond this point!!!! #}
{% set python_cmd %}
BUMPVERSION := $(ACTIVATE) && bump-my-version bump --verbose
# Patch types:
MAJOR := major
MINOR := minor
PATCH := patch
{% endset %}


{% set shell_cmd %}
# TODO: Also create a git tag of current version.
bump-version-patch:
	$(AT)echo "🔖 Updating $(PROJECT_NAME) version from $(VERSION)..."
	$(AT)$(BUMPVERSION) $(PATCH)
	$(AT)echo "✅ $(PROJECT_NAME) version update complete!"
{% endset %}
