{#
# registry/engines/python/bump-my-version.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


{% macro get_config(groups, settings, result) %}
    {#
        Provides the configuration dictionary for the Bump-My-Version tool.
        Maps version advancement (major, minor, patch) to the global versioning group.

        Args:
            groups (dict): The hydrated ns.pkg_groups dictionary.
            settings (dict): The hydrated settings dictionary.
            result (dict): A dictionary to be updated with the config.

        Returns:
            dict: The tool configuration object including the group metadata.
    #}
    {%- set s = settings -%}
    {%- set config = {
        "id": "bumpversion",
        "name": "Bump-My-Version",
        "icon": "🔖",
        "group": groups.version,
        "command": "$(" ~ s.python_infra.activate.label ~ ") && bump-my-version bump --verbose",
        "description": "Version bumping tool with Git tagging support.",
        "modes": {
            "patch": {
                "args": "patch",
                "start_msg": "🔖 Updating $(" ~ s.project.name.label ~ ") patch version from $(" ~ s.project.version.label ~ ")...",
                "end_msg": "✅ Patch version update complete!"
            },
            "minor": {
                "args": "minor",
                "start_msg": "🔖 Updating $(" ~ s.project.name.label ~ ") minor version from $(" ~ s.project.version.label ~ ")...",
                "end_msg": "✅ Minor version update complete!"
            },
            "major": {
                "args": "major",
                "start_msg": "🔖 Updating $(" ~ s.project.name.label ~ ") major version from $(" ~ s.project.version.label ~ ")...",
                "end_msg": "✅ Major version update complete!"
            }
        }
    } -%}
    {%- do result.update(config) -%}
{% endmacro %}


{% macro helpers() %}
# Patch types:
MAJOR := major
MINOR := minor
PATCH := patch
{% endmacro %}


{# #TODO: Deprecated beyond this point!!!! #}
{% set python_cmd %}
BUMPVERSION := $(ACTIVATE) && bump-my-version bump --verbose
# Patch types:
MAJOR := major
MINOR := minor
PATCH := patch
{% endset %}


{% set shell_cmd %}
# TODO: Also create a git tag of current version.
bump-version-patch:
	$(AT)echo "🔖 Updating $(PROJECT_NAME) version from $(VERSION)..."
	$(AT)$(BUMPVERSION) $(PATCH)
	$(AT)echo "✅ $(PROJECT_NAME) version update complete!"
{% endset %}
