{#
# registry/engines/python/cookiecutter.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% macro get_config(groups, settings, result) %}
    {#
        Provides the configuration dictionary for the Cookiecutter tool.
        Maps template rendering and generation to the global template group.

        Args:
            groups (dict): The hydrated ns.pkg_groups dictionary.
            settings (dict): The hydrated settings dictionary.
            result (dict): A dictionary to be updated with the config.

        Returns:
            dict: The tool configuration object including the group metadata.
    #}
    {%- set s = settings -%}
    {%- set config = {
        "id": "cookiecutter",
        "name": "Cookiecutter",
        "icon": "🍪",
        "group": groups.template,
        "command": "$(ACTIVATE) && cookiecutter",
        "description": "Command line utility for creating projects from templates.",
        "pre_cmd": "rm -rf $(" ~ s.cookie.RENDERED_COOKIE_DIR.val ~ ")",
        "modes": {
            "render": {
                "args": ". --no-input --output-dir $(" ~ s.cookie.RENDERED_COOKIE_DIR.val ~ ") --overwrite-if-exists --keep-project-on-failure",
                "start_msg": "🍪 Rendering project from initial cookiecutter template...",
                "end_msg": "✅ Finished project render!"
            }
        }
    } -%}
    {%- do result.update(config) -%}
{% endmacro %}


{# #TODO: Deprecated beyond this point!!!! #}
{% set python_cmd %}
COOKIECUTTER := $(ACTIVATE) && cookiecutter
{% endset %}


{% set shell_cmd %}
render-cookiecutter:
	$(AT)echo "🍪 Rendering project from initial cookiecutter template..."
	$(AT)rm -rf $(RENDERED_COOKIE_DIR)
	$(AT)$(COOKIECUTTER) . --no-input \
		--output-dir $(RENDERED_COOKIE_DIR) \
		--overwrite-if-exists \
		--keep-project-on-failure
	$(AT)echo "✅ Finished project render!"
{% endset %}
