{#
# registry/lang/python/deptry.j2.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set config = {
    "id": "deptry",
    "name": "Deptry",
    "icon": "🧬",
    "group": "deps",
    "command": "$(ACTIVATE) && deptry",
    "start_msg": "Checking dependency issues...",
    "end_msg": "Finished checking for dependency issues!",
    "modes": {
        "check": "--pep621-dev-dependency-groups dev,docs $(SRC_DIR)"
    }
} %}

{# #TODO: Deprecated beyond this point!!!! #}
{% set python_cmd %}
DEPTRY := $(ACTIVATE) && deptry
{% endset %}


{% set shell_cmd %}
dependency-check:
	$(AT)echo "🧬 Checking dependency issues..."
	$(AT)$(DEPTRY) --pep621-dev-dependency-groups dev,docs \
		 $(SRC_DIR)
	$(AT)echo "✅ Finished checking for dependency issues!"
{% endset %}
