{#
#  license-data.j2 for cookiecutter-cookiecutter
#
# Copyright (c) 2026, Jared Cook
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <www.gnu.org>.
#}

{% import '.cookiecutter_includes/license/0bsd.j2' as _0bsd with context %}
{% import '.cookiecutter_includes/license/agpl-3.0.j2' as _agpl_3_0 with context %}
{% import '.cookiecutter_includes/license/apache-2.0.j2' as _apache_2_0 with context %}
{% import '.cookiecutter_includes/license/bsd-2-clause.j2' as _bsd_2_clause with context %}
{% import '.cookiecutter_includes/license/bsd-3-clause.j2' as _bsd_3_clause with context %}
{% import '.cookiecutter_includes/license/gpl-3.0.j2' as _gpl_3_0 with context %}
{% import '.cookiecutter_includes/license/mit.j2' as _mit with context %}
{% import '.cookiecutter_includes/license/unlicense.j2' as _unlicense with context %}

{% set zero_bsd = _0bsd %}
{% set agpl_3_0 = _agpl_3_0 %}
{% set apache_2_0 = _apache_2_0 %}
{% set bsd_2_clause = _bsd_2_clause %}
{% set bsd_3_clause = _bsd_3_clause %}
{% set gpl_3_0 = _gpl_3_0 %}
{% set mit = _mit %}
{% set unlicense = _unlicense %}
