{#
#  license.j2 for cookiecutter-cookiecutter
#
# Copyright (c) 2026, Jared Cook
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <www.gnu.org>.
#}

{% import '.cookiecutter_includes/license/license-data.j2' as lics %}

{#
	cookiecutter.author,
	cookiecutter.project_slug,
#}

{% macro create(
    chosen_license,
    copyright
) -%}

{%- set gpl_variations = ['GPL-3.0-only', 'GPL-3.0-or-later'] -%}


{% if chosen_license == '0BSD' %}
  {{- lics.zero_bsd.license -}}
{% elif chosen_license == 'AGPL-3.0-or-later' %}
  {{- lics.agpl_3_0.license -}}
{% elif chosen_license == 'Apache-2.0' %}
  {{- lics.apache_2_0.license -}}
{% elif chosen_license == 'BSD-2-Clause' %}
  {{- lics.bsd_2_clause.license -}}
{% elif chosen_license == 'BSD-3-Clause' %}
  {{- lics.bsd_3_clause.license -}}
{% elif chosen_license in gpl_variations %}
  {{- lics.gpl_3_0.license -}}
{% elif chosen_license == 'MIT' %}
  {{- lics.mit.license -}}
{% elif chosen_license == 'Unlicensed' %}
  {{- lics.unlicense.license -}}
{% endif %}

{%- endmacro -%}
