{#
# license-header.j2 for cookiecutter-cookiecutter
#
# Copyright (c) 2025, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <www.gnu.org>.
#}

{% import '.cookiecutter_includes/license/license-data.j2' as lics %}

{%- macro spdx(
    license,
    author,
    project_name
) -%}
  {#
    This renders license SPDX.

    Args:
      license (str): The SPDX identifier (e.g., 'MIT', 'BSD-3-Clause').
      author (str): The authors first and last name.
      project_name (str):

    Returns:
      str: the formatted license SPDX text
  #}
  {%- set year %}{% now 'utc', '%Y' %}{% endset -%}
  {%- set spdx_copyright = "SPDX-FileCopyrightText: Copyright (c) " ~ year ~ ", " ~ author -%}
  {%- set spdx_license = "SPDX-License-Identifier: " ~ license -%}
  {%- set sdpx_text -%}
    {{- spdx_copyright | trim -}}{{- "\n" -}}
    {{- spdx_license | trim -}}
  {%- endset -%}
  {{ sdpx_text | trim }}
{%- endmacro -%}

{%- macro create(
    license,
    author,
    project_name,
    file_name='none',
    comment_style='hash'
) -%}
  {#
    This renders license header depending on user selection of cookiecutter.license.

    Args:
      license (str): The SPDX identifier (e.g., 'MIT', 'BSD-3-Clause').
      author (str): The authors first and last name.
      project_name (str): .
      file_name (str): .
      comment_style (str): .

    Returns:
      str: the formatted license header text.
  #}
  {# This macro generates the correct license header based on input #}
  {# Define variables for start/end comment delimiters #}
  {%- set start_comment = '' -%}
  {%- set end_comment = '' -%}
  {%- set newline = '\n' -%}
  {# Determine the correct comment style #}
  {%- if comment_style == 'python' -%}
    {# djlint:off T027 #}
      {%- set start_comment = '"""' + newline -%}
      {%- set end_comment = newline + '"""' -%}
    {# djlint:on #}
  {%- elif comment_style == 'html' -%}
      {%- set start_comment = '<!-- ' + newline -%}
      {%- set end_comment = newline + '-->' -%}
  {%- else -%}
      {# Default to hash/pound symbol for yaml, toml, shell scripts, etc. #}
      {%- set start_comment = '#' -%}
      {%- set end_comment = newline -%}
  {%- endif -%}
  {# Generate the core license text #}
  {%- set license_text -%}
    {{- file_name }} for {{ project_name -}}
    {{- "\n\n" -}}
    {{- spdx(license, author, project_name) | trim -}}
    {{- "\n\n" -}}
    {% if license == "0BSD" %}
      {{- lics.zero_bsd.license_header -}}
    {% elif license in lics.agpl_3_0.spdx %}
      {{- lics.agpl_3_0.license_header -}}
    {% elif license == "Apache-2.0" -%}
      {{- lics.apache_2_0.license_header -}}
    {% elif license == "BSD-2-Clause" -%}
      {{- lics.bsd_2_clause.license_header -}}
    {% elif license == "BSD-3-Clause" -%}
      {{- lics.bsd_3_clause.license_header -}}
    {% elif license in lics.gpl_3_0.spdx -%}
      {{- lics.gpl_3_0.license_header -}}
    {% elif license == "MIT" -%}
      {{- lics.mit.license_header -}}
    {% elif license == "Unlicense" -%}
      {{- lics.unlicense.license_header -}}
    {% endif -%}
  {%- endset -%}
  {# Wrap the generated text with the appropriate start and end delimiters #}
  {%- if comment_style == 'python' or comment_style == 'html' -%}
    {{- start_comment -}}
    {{- license_text | trim }}
    {{- end_comment -}}
  {%- else -%}
    {%- set text = license_text.split('\n') -%}
    {# For hash comments, prefix every line with '#' #}
      {%- for line in text -%}
        {%- if line == '' or line == '\n' -%}
          {%- set commented_line = line -%}
        {%- else -%}
          {%- set commented_line = " " + line -%}
        {%- endif -%}
        #{{- commented_line }}
      {% endfor -%}
  {%- endif -%}
{%- endmacro -%}
