{#
# pyproject/project/config.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import '.cookiecutter_includes/pyproject/project/project.j2' as project with context %}
{% import '.cookiecutter_includes/pyproject/project/optional-deps.j2' as optional_deps with context %}
{% import '.cookiecutter_includes/pyproject/project/urls.j2' as urls with context %}


{% macro create(
    project_name,
    version,
    description,
    author,
    email,
    license,
    python_version,
    github_io_url,
    repo_url
) %}
    {#
        Generates pyproject project configuration based on... TODO:

        This macro maps a python project configuration strings to their corresponding full
        text stored in a template TODO: data object.

        Args:
            project_name (str): Project name.
            version (str): Project version.
            description (str): Project description.
            author (str): Project author.
            email (str): Project author email.
            license (str): Project SPDX license identifier.
            python_version (str): Project python version.
            github_io_url (str): Project name.
            repo_url (str): Project version.

        Returns:
            str: The project section for a pyproject configuration file.
    #}
    {{- project.create(
          project_name,
          version,
          description,
          author,
          email,
          license,
          python_version
    ) }}
    {{- urls.create(
          github_io_url,
          repo_url
    ) }}
    {{- optional_deps.create() }}
{% endmacro %}
