{#
# pyproject/project/project.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set template %}
[project]
name = "{{ cookiecutter.__python.project_name }}"
version = "{{ cookiecutter.version }}"
description = "{{ cookiecutter.description }}"
authors = [
    { name="{{ cookiecutter.author }}", email="{{ cookiecutter.email }}" }
]
readme = "README.md"
license = "{{ cookiecutter.license }}"
license-files = ["LICENSE.md"]
requires-python = ">={{ cookiecutter.python_version }}"
dependencies = [
  "nutri-matic>=0.1",
]
keywords = {{ cookiecutter.__python.keywords | tojson }}
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
{% endset %}
