{#
# pyproject/project/project.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% macro create(
    project_name,
    version,
    description,
    author,
    email,
    license,
    python_version
) %}
    {#
        Generates project, section of pyproject configuration file.

        Args:
            project_name (str): Project name.
            version (str): Project version.
            description (str): Project description.
            author (str): Project author.
            email (str): Project author email.
            license (str): Project SPDX license identifier.
            python_version (str): Project python version.

        Returns:
            str: project, section of pyproject configuration file.
    #}
# ====================================
# Project Configuration:
# ====================================
[project]
name = "{{ cookiecutter.__python.project_name }}"
version = "{{ version }}"
description = "{{ description }}"
authors = [
    { name="{{ author }}", email="{{ email }}" }
]
readme = "README.md"
license = "{{ license }}"
license-files = ["LICENSE.md"]
requires-python = ">={{ python_version }}"
dependencies = [
  "nutri-matic>=0.1",
]
keywords = {{ cookiecutter.__python.keywords | tojson }}
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
{% endmacro %}
