{% import '.cookiecutter_includes/license/__init__.j2' as license_macros with context %}
{{- license_macros.license_header.create(
  cookiecutter.license,
  cookiecutter.copyright,
  cookiecutter.project_slug,
  file_name='.yamllint',
  comment_style='hash') -}}
---
extends: default
ignore:
  - .venv
  - changelogs
  {%- raw %}
  - '{{ cookiecutter.project_slug }}'
  {% endraw %}

rules:
  line-length:
    max: 120
    level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    # prettier compatibility
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: true
    level: error
  key-duplicates:
    forbid-duplicated-merge-keys: true
  indentation:
    level: error
    indent-sequences: consistent
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  quoted-strings:
    quote-type: double
    required: false
    level: warning
  truthy:
    allowed-values:
      ["true", "false", "yes", "no", "on", "off"]
