{#
# registry/engines/rust/_vars.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


{% set rust_dev_stack = [
    {
        "id": "cargo-build",
        "name": "Cargo Build",
        "icon": "📦",
        "group": "build",
        "command": "cargo build",
        "args": "--release",
        "description": "Compile the Rust project in release mode."
    },
    {
        "id": "clippy",
        "name": "Clippy",
        "icon": "📎",
        "group": "lint",
        "command": "cargo clippy",
        "args": "-- -D warnings",
        "description": "Catch common mistakes and improve your Rust code."
    },
    {
        "id": "rustfmt",
        "name": "Rustfmt",
        "icon": "✨",
        "group": "format",
        "command": "cargo fmt",
        "args": "--all",
        "description": "Format Rust code according to style guidelines."
    },
    {
        "id": "cargo-test",
        "name": "Cargo Test",
        "icon": "🧪",
        "group": "test",
        "command": "cargo test",
        "args": "",
        "description": "Run unit and integration tests."
    },
    {
        "id": "git-cliff",
        "name": "Git-cliff",
        "icon": "⛰️",
        "group": "release",
        "command": "git-cliff",
        "args": "--output CHANGELOG.md",
        "description": "Generate a changelog from git history."
    },
    {
        "id": "cargo-doc",
        "name": "Cargo Doc",
        "icon": "📚",
        "group": "docs",
        "command": "cargo doc",
        "args": "--no-deps --open",
        "description": "Build and open the project documentation."
    },
    {
        "id": "cargo-publish",
        "name": "Cargo Publish",
        "icon": "🚢",
        "group": "publish",
        "command": "cargo publish",
        "args": "--dry-run",
        "description": "Upload the package to crates.io (dry-run by default)."
    }
] %}

{#
{% if 'rust' in cookiecutter.template_type %}
# --- Rust Targets ---
{% for tool in rust.rust_dev_stack %}
{{ tool.id }}: ## {{ tool.icon }} {{ tool.description }}
	$(AT){{ tool.command }} {{ tool.args }}
{% endfor %}
{% endif %}
#}
