{#
# makefile/_vars.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set settings_icons = [
    {"name": "", "icon": "⚙️"},
    {"name": "", "icon": "📁"},
    {"name": "", "icon": "📄"},
    {"name": "", "icon": ""},
    {"name": "", "icon": ""},

]%}

{% set settings = {
    "project": {
        "PROJECT_NAME": {"val": cookiecutter.__python.project_name, "label": "Project"},
        "AUTHOR":       {"val": cookiecutter.author,               "label": "Author"},
        "VERSION":      {"val": cookiecutter.version,              "label": "Version"},
        "RELEASE":      {"val": "v$(VERSION)",                     "label": "Release"}
    },
    "github": {
        "GITHUB_USER": {"val": cookiecutter.github_username,        "label": "GitHub User"},
        "GITHUB_REPO": {"val": "$(GITHUB_USER)/$(PROJECT_NAME)",   "label": "Repository"}
    },
    "dirs": {
        "PROJECT_ROOT":  {"val": "$(call cc_or_std,$(CURDIR),$(PWD))", "label": "Root"},
        "HOOKS_DIR":     {"val": "$(PROJECT_ROOT)/hooks",              "label": "Hooks"},
        "SRC_DIR":       {"val": "$(HOOKS_DIR)",                       "label": "Source"},
        "TEST_DIR":      {"val": "$(PROJECT_ROOT)/tests",              "label": "Tests"},
        "DOCS_DIR":      {"val": "$(PROJECT_ROOT)/docs",               "label": "Docs"},
        "CHANGELOG_DIR": {"val": "$(PROJECT_ROOT)/changelogs",         "label": "Changelog Dir"}
    },
    "cookie": {
        "COOKIE_DIR":          {"val": "{{ '{{' }} cookiecutter.project_slug {{ '}}' }}", "label": "Template Dir"},
        "COOKIE_MACRO_DIR":    {"val": "$(COOKIE_DIR)/.cookiecutter_includes",           "label": "Macro Dir"},
        "RENDERED_COOKIE_DIR": {"val": "/tmp/rendered",                                  "label": "Render Path"},
        "RENDERED_VENV_DIR":   {"val": "$(RENDERED_COOKIE_DIR)/**/.venv",                "label": "Render Venv"}
    },
    "files": {
        "CHANGELOG_FILE": {"val": "$(CHANGELOG_DIR)/CHANGELOG.md",     "label": "Changelog File"}
    }
} %}

{# Dynamically add optional paths based on user choices #}
{% if cookiecutter.add_sphinx_docs %}
    {% do settings.dirs.update({"SPHINX_DIR": "$(DOCS_DIR)/sphinx"}) %}
{% endif %}
