{#
# makefile/utils.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{# Styling macros below #}
{% macro section_header(title, icon="⚙️") -%}
# --------------------------------------------------
# {{ icon }} {{ title }}
# --------------------------------------------------
{%- endmacro %}


{% macro tool_cmds(config) -%}
{# This is the engine that actually writes the Makefile target #}
.PHONY: {{ config.id }}
{{ config.id }}: ## {{ config.description | default("Run " ~ config.id) }}
	@echo "Running {{ config.id }}..."
	{{ config.command }} {{ config.args | join(' ') if config.args is defined else '' }}

{%- endmacro %}


{# Debugging macros below #}
{% macro validate_features(mapping, file_path="UNKNOWN_FILE") -%}
    {%- set result = {} -%}
    {%- for key, value in mapping.items() -%}
        {%- if value is not undefined -%}
            {%- do result.update({key: value}) -%}
        {%- else -%}
            {# Forces the error to show both the key and the file path #}
            {%- set error_bucket = {} -%}
            {{ error_bucket[' >>> MISSING_VARIABLE: [' ~ key | lower ~ '] >>> FOUND_IN: [' ~ file_path ~ '] <<< '] }}
        {%- endif -%}
    {%- endfor -%}
    {{- "PASS" -}}
{%- endmacro %}
